@import 'mixins';

main {
  display: block;
  margin: 0 auto;
  max-width: 45em;
}

body {
  background-color: #fff;
  color: #353535;
  font-family: "Raleway", sans-serif;
  padding: 1vh 2rem;
  text-align: left;
  font-weight: lighter;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a {
  color: rgba(161, 161, 161, 0.98);
  text-decoration: none;

  &:focus,
  &:hover {
    color: #C9C8C8;
  }
}

.page-header {
  font-weight: lighter;
  text-align: center;

  h1 {
    @include text-hide;
    background: image-url('JRS.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    margin: 0 auto;
    width: 350px;
  }

  nav {
    @extend .clearfix;
    margin: 2em;

    a {
      display: block;
      float: left;
      width: 20%;
    }
  }
}

