
<div><a href="http://pet-rocket.herokuapp.com/">Pet Rocket</a></div>
<p> A Ruby on Rails app, aka <em>Breakable Toy</em>, which allows animal lovers such as myself, to search for adoptable pets in their geographic area. Technologies used include Amazon S3 Bucket, JavaScript, AJAX, Foundation, Devise, etc.</p>
<div><a href="http://zootopia.herokuapp.com/">Zoo Review</a></div>
<p> A Ruby on Rails app allowing users to review Zoos. It incorporates some of the same technologies listed above: Amazon S3 Bucket, JavaScript, AJAX, Foundation, Devise, etc.</p> 


