<p>My name is Jelena. (Pronounced <em>YELL-ehna</em>. Sounds like Helena with a Y instead of an H.</em>) I am a Serb from Croatia. 
I was not quite a teen when I moved to the States, without a clue of what awaited. I took one year of English in elementary school. 
But see, now that I've told you this, you may think that I was somewhat prepared for what was about to happen. To simply say that 
that was not the case, is an understatement of the year 1997. And ’98. And ’99. The enormousness of the culture-shock beats any 
classroom-style language sesh I'd had in elementary school. I am not a skilled enough writer to conjure that up for you in this 
text, so you'll just have to believe me.</p>

<p>Fast forward 20 years, here I am looking for a career in web developemnt with a company that is willing to challenge me, expand my 
coding knowledge, and mold me into a more seasoned developer. I am excited to have acquired this new skill that will allow me to create 
some cool things using code.</p>

<p>More about me...I own a grey cat I adopted from <a href="https://www.mspca.org/adoption-centers/boston-adoption-center/">MSPCA</a> 
in 2015. If you ask, ‘why is this interesting?’ <i>Get out! Seriously. Shut the door behind you!</i> As I was saying... My cat's name 
is Penelope. Penny for short, or Penski. Sometimes Bob, so then naturally sometimes also Robert, and so on. She goes by many names; 
some which are not repeatable on this page. She is lovely, and sweet, and friendly until she is not. She is insane. But she loves me, 
and I love her. Check out my beaut on <a href="https://www.instagram.com/penskithecat/">Instagram.</a></p> 

<p>In all seriousness, I am an avid animal lover and advocate of animal welfare, as may become increasingly evident by the 
<a href="http://pet-rocket.herokuapp.com/">Breakable Toy</a></td> I created when I was at <a href="https://launchacademy.com/"> 
Launch Academy.</a></p> 

<p>Speaking of love, I am one of the lucky ones that got to marry her <a href="http://bensaufley.com/">best friend.</a> Corny, I know! 
But it's the truth.</p>

<p>You can learn more about me by clicking on all the links!</p>
